.navigation {
  background-color: #000;
  padding: 2.5rem;
  color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navigation button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: #f7f7f7;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid green;
  transition: 0.3s;
}

.navigation button:hover {
  background-color: green;
  color: #000;
}

.navigation button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed; 
}
