.character-card {
  color: #f7f7f7;
  border: 2px solid green;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.character-card figure {
  margin-bottom: 1rem;
}

.character-card img {
  display: block;
  object-fit: cover;
}
