.character-list-bg {
  background-color: #000;
}

.character-list {
  display: flex;
  max-width: 1200px;
  margin: 0rem auto;
  padding: 2rem 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
