.character-list-bg {
  background-color: #000;
}

.character-list {
  display: flex;
  max-width: 1200px;
  margin: 0rem auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.character-list p {
  background-color: red;
  color: #fff;
  padding: 13rem;
  margin: 13rem;
}
